.jumbo-edit {
  background-image: url("../assets/Black-and-white-maps-l.jpg");
  background-size: cover;
  background-position: 50% 50%;
  color: #ffffff;
}
.editor-row {
  padding-right: 2rem;
  padding-left: 2rem;
}
