.editor-form {
  position: relative !important;
  padding: 1rem;
  border: 0.2rem solid lightgrey;
  margin-right: 0;
  margin-left: 0;
}
.postion-relative {
  position: relative !important;
}
div {
  display: block;
}
.editor-container {
  position: relative;
  margin-bottom: 3rem;
  background-color: white;
}
*,
:after,
:before {
  display: border-box;
}
